.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 20, 23, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  border-radius: 24px;
  width: 541px;
  background: #fff;
  height: 752px;
  padding: 40px; /* Паддинг для модалки */
  overflow-y: auto;
}

.title {
  font: 500 18px / 1.33333 "Manrope", sans-serif;
  color: #121417;
  margin-bottom: 8px;
}
.model {
  font: 500 18px / 1.33 "Manrope", sans-serif;
  color: #3470ff;
}

.additional {
  font: 400 12px / 1.5 "Manrope", sans-serif;
  color: rgba(18, 20, 23, 0.5);
}

.description {
  font: 400 14px / 1.42857 "Manrope", sans-serif;
  color: #121417;
  margin-top: 14px;
}

.minititle {
  font: 500 14px / 1.42857 "Manrope", sans-serif;
  color: #121417;
  margin-bottom: 8px;
  margin-top: 24px;
}

.closeButton {
  position: absolute;
  top: 16px; /* Отступ сверху */
  right: 16px; /* Отступ справа */
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.closeIcon {
  width: 24px; /* Ширина SVG */
  height: 24px; /* Высота SVG */
}

.modalImage {
  border-radius: 14px;
  width: 461px;
  height: 248px;
  background: #f3f3f2;
  object-fit: cover;
  margin-bottom: 14px;
}

.rentalCarButton {
  display: flex; /* Используем flex для выравнивания */
  justify-content: center; /* Центровка по горизонтали */
  align-items: center; /* Центровка по вертикали */
  background: #3470ff;
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
  width: 168px;
  height: 44px;
  font: 600 14px / 1.42857 "Manrope", sans-serif;
  color: #fff;
  cursor: pointer; /* Добавляем указатель курсора при наведении */
}

.rentalConditionsList {
  display: flex;
  flex-wrap: wrap; /* Элементы будут переноситься на следующую строку, если не помещаются */
  gap: 8px;
  margin-bottom: 24px;
}

.rentalConditionItem {
  background: #f9f9f9;
  border-radius: 35px;
  padding: 7px 14px;
  height: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: 400 12px / 1.5 "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  color: #363535;
  white-space: nowrap;
  display: block;
}

.conditionWithDigit {
  font: 600 12px / 1.5 "Montserrat", sans-serif;
  color: #3470ff;
  letter-spacing: -0.02em;
}


